@import url('../font/roboto.css');

.recent-episodes-title {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 2vw;
  margin-top: 0;
}

.episode-releases-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
}

.episode-releases-container::-webkit-scrollbar {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  outline: none; /* Remove outline */
  background-color: rgba(39, 39, 42, 0); /* gray background */
}

/*Slider handle*/
.episode-releases-container::-webkit-scrollbar-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 10px;
  background: rgba(63, 63, 70, 0.7); /* gray background */
  cursor: pointer; /* Cursor on hover */
}

/* Mouse-over effects */
.episode-releases-container::-webkit-scrollbar:hover {
  background: rgba(39, 39, 42, 0.7);
}

.episode-releases-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(63, 63, 70, 1);
}

.episode-releases-container::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: rgb(63, 63, 70);
  cursor: pointer; /* Cursor on hover */
}
